.product-images-inline{
    width: 30%;
}

.product-images-inline .avatar-group{
    max-width: 450px;
    overflow-x: scroll;
}

.product-image-order{
    object-fit: cover;
    height: 74px;
}

.order-again{
    text-align: center;
    font-size: 50px;
    background: linear-gradient(177deg, #0061b7 0%, #a70000 100%);
    -webkit-background-clip: text;
    color: transparent;
}

/*.form-register form{*/
/*    display: flex !important;*/
/*    flex-wrap: wrap !important;*/
/*    justify-content: space-evenly !important;*/
/*}*/
