/*header {*/
/*  height: 50px;*/
/*  display: flex;*/
/*  padding: 0 2rm;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  border-bottom: 1px solid #ccc;*/
/*  background: #fafafa;*/
/*}*/


/*ul {*/
/*  display: contents;*/
/*}*/

/*li {*/
/*  border: 2px solid #9f9f9f;*/
/*  padding: 12px;*/
/*  border-radius: 8px;*/
/*  margin-bottom: 5px;*/
/*}*/

/*.center {*/
/*  text-align: center;*/
/*}*/

/*.control {*/
/*  border:1px solid #ccc;*/
/*  border-radius: 5px;*/
/*  padding: 0.5rem 0rem;*/
/*  width: 100%;*/
/*  margin-bottom: 1rem;*/
/*}*/

/*a {*/
/*  text-align: center;*/
/*  margin: 15px;*/
/*  text-decoration: none;*/
/*  color: #434343;*/
/*}*/